.openContainer {
  display: block;
  position: relative;
  border-width: .5rem;
  padding: 1rem;
  margin: auto;
  height: 1000px;
}

.space1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.howToContainer {
  display: block;
  position: relative;
  border-width: .5rem;
  padding: 1rem;
  margin: auto;
  height: 1000px;
}

.space2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nameYourPlantContainer {
  display: block;
  position: relative;
  border-width: .5rem;
  padding: 1rem;
  margin: auto;
  height: 1000px;
}

.space3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.levelContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  margin: 1rem;
  padding: 1rem;
}

.levelBox {
  border: solid;
  animation: color-change 1s infinite;
}


body {
  width: auto;
  height: auto;
  background-color: rgb(160, 226, 247);
  image-rendering: pixelated;
}

h1 {
    color: red;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

h2 {
  text-align: center;
  padding: 3rem;
  margin: 10rem;
}

h3 {
    text-align: center;
    padding: 0.5rem;
}

h4 {
    text-align: center;
    padding: 1rem;
}

form {
  display: flex;
  justify-content: center;
}

#plantName1 {
  /* animation: color-change 1s infinite; */
}

.flowerPosition  {
  display: flex;
  justify-content: center;
}

#plantName1 {
  padding: 1rem;
  display: flex;
  justify-content: center;
  font-size: 35px;

}

.willTimer  {
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  margin: 1rem;
  height: 177px;
}

.bars {
  border-color: white;
  border-style: solid;
  padding: 2rem;
  margin: 1rem;
  /* animation: border-color 1s infinite; */
}

div#value3 {
  display: block;
  z-index: 2;
  height:38px;
  background-color: rgb(240, 86, 106);
  border-color: black;
  left: 0;
  text-align: center;
}

div#value2 {
  display: inline-block;
  height:40px;
  background-color: rgb(252, 252, 251);
  margin: 0px 0px 0px 0px;
  text-align: center;
}

div#value {
    display: block;
    z-index: 2;
    height:38px;
    background-color: rgb(240, 237, 86);
    left: 0;
    text-align: center;
}

.feedContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
}

p {
  text-align: center;

}

#plus.nes-btn.is-warning, #plus2.nes-btn.is-primary, #plus3.nes-btn.is-error {
  width: 200px;
}

.redirect {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 1rem;

}

/* KEYFRAMES FOR CSS ANIMATION */

/* Animation for Plant Name Text */
@keyframes color-change { 
  0% { color: rgb(255, 145, 0); }
  15% { color: rgb(235, 201, 9); }
  30% { color: rgb(115, 255, 0); }
  45% { color: rgb(0, 195, 255); }
  60% { color: rgb(132, 0, 255); }
  75% { color: rgb(247, 0, 255); }
  90% { color: rgb(255, 0, 64); }
  100% { color: rgb(255, 0, 0); }
}

@keyframes border-color { 
  0% { color: rgb(255, 145, 0); }
  15% { color: rgb(235, 201, 9); }
  30% { color: rgb(115, 255, 0); }
  45% { color: rgb(0, 195, 255); }
  60% { color: rgb(132, 0, 255); }
  75% { color: rgb(247, 0, 255); }
  90% { color: rgb(255, 0, 64); }
  100% { color: rgb(255, 0, 0); }
}

/* OPTIMIZATION FOR OTHER DEVICES */

/* for laptops */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* for iPhones */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* for iPad */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}
